*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.container{
  width: 60%;
  min-height: 25rem;
  padding: 3rem;
  outline: none;
  border: solid #61dafb 2px;
  border-radius: 1rem;
  box-shadow: 0 0 10px #61dafb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quote-container{
  display: flex;
  flex-direction: column;

}

p{
  position: relative;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

span{
  font-size: 1.5rem;
  font-style: italic;
  align-self: end;
  width: fit-content;
  margin: 1rem 0;
  opacity: 0.5;
}

#b1{
  display: block;
  width: fit-content !important;
  border: solid #61dafb 2px;
  background: #282c34;
  color: #ede;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  box-shadow: 2px 3px rgb(0, 213, 255);
  cursor: pointer;
  align-self: end;
}
#b1:hover{
  background-image: linear-gradient(-30deg, rgb(50, 148, 223), #09faf2);
  color: #000;
  transition: 0.3s;
}
#b1:active{
  transform: translate(1px,2px);
  box-shadow: 1px 1px rgb(0, 213, 255);
}

@media(width<700px){
  .container{
    width: 90%;
    min-height: 50vh;
    padding: 2rem;
  }
  p{
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
  span{
    font-size: 1.3rem;
  }
}